@using Books.ViewModels
@model SeriesSearchViewModel

<div class="advancedSearch-container">
	<div class="advancedSearch-inner-container">
		<h2>Расширенный поиск книжных серий</h2>

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
		}

		<form asp-action="SeriesSearch" asp-controller="Search">
			<div class="form-group">
				<input class="form"
					   asp-for="Series.Name"
					   placeholder="Название"
					   type="text">
			</div>
			<div class="form-group">
				<input class="form"
					   asp-for="Series.Genre"
					   placeholder="Основной жанр"
					   type="text">
			</div>
			@if (User.Identity.IsAuthenticated)
			{
				<div class="form-group">
					<input class="form"
						   asp-for="Series.Publisher"
						   placeholder="Издатель"
						   type="text">
				</div>

				<div class="form-group">
					<input class="form"
						   asp-for="Series.Year"
						   placeholder="Год первого выпуска"
						   type="text">
				</div>

				<div class="form-group">
					<label>Параметры года первого выпуска:</label>

					<label class="toggle">
						<input type="radio" asp-for="YearFlag" value="More" />
						<span class="checkmark"></span>
					</label>
					<label>Больше</label>

					<label class="toggle">
						<input type="radio" asp-for="YearFlag" value="Less" />
						<span class="checkmark"></span>
					</label>
					<label>Меньше</label>

					<label class="toggle">
						<input type="radio" asp-for="YearFlag" value="Equal" />
						<span class="checkmark"></span>
					</label>
					<label>Равно</label>
				</div>
			}

			<div class="form-group">
				<input class="form"
					   asp-for="Series.Rating"
					   placeholder="Рейтинг"
					   type="text">
			</div>

			<div class="form-group">
				<label>Параметры рейтинга:</label>

				<label class="toggle">
					<input type="radio" asp-for="RatingFlag" value="More" />
					<span class="checkmark"></span>
				</label>
				<label>Больше</label>

				<label class="toggle">
					<input type="radio" asp-for="RatingFlag" value="Less" />
					<span class="checkmark"></span>
				</label>
				<label>Меньше</label>

				<label class="toggle">
					<input type="radio" asp-for="RatingFlag" value="Equal" />
					<span class="checkmark"></span>
				</label>
				<label>Равно</label>
			</div>

			<button type="submit" class="btn button">Найти</button>
		</form>
	</div>
</div></
